{% load static %}
{% if paginator.num_pages > 1%}
<div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if equipment.has_previous %}
            <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ equipment.previous_page_number }}#pagtable"><img src="{% static '../static/assets/arrow_left.png' %}"></a></li>
        {% endif %}
        {% for page in paginator.page_range %}
            {% if forloop.last and page != equipment.number and paginator.num_pages > 7 %} 
                {% if equipment.next_page_number != paginator.num_pages%}
                <li class="page-item">
                    <a class="page-link" href="?page={{ equipment.number | add:1}}#pagtable">...</a>
                </li>
                {% endif %}
            <li class="page-item">
                    <a class="page-link" href="?page={{paginator.num_pages}}#pagtable">{{paginator.num_pages}}</a>
            </li>
            {% endif %}
            {% if page == equipment.number and page > 7 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page | add:-1 }}#pagtable">...</a>
            </li>    
            {% endif %}
            {% if page < 7 or page == equipment.number %}
            <li class="page-item {% if page == equipment.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}#pagtable">{{ page }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if equipment.has_next %}
            <li class="page-item d-none d-sm-block">
                <a class="page-link" href="?page={{ equipment.next_page_number }}#pagtable"><img src="{% static '../static/assets/arrow_right.png' %}"></a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="d-flex justify-content-rigth d-sm-none">            
    {% if equipment.has_previous %}
        <span class="page-item"><a  class="page-link" href="?page={{ equipment.previous_page_number }}#pagtable"><img src="{% static '../static/assets/arrow_left.png' %}"></a></span>
    {% endif %}
    {% if equipment.has_next %}
        <span class="page-item"><a class="page-link" href="?page={{ equipment.next_page_number }}#pagtable"><img src="{% static '../static/assets/arrow_right.png' %}"></a></span>
    {% endif %}
    <br>
    <br>
</div>
{% endif %}